.display-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    font-size: 60px;
    background: #282c34;
    color: white;
    padding: 15px;
    font-weight: bolder;
    font-family: Roboto, serif;
    overflow: hidden;
    word-wrap: anywhere;
    line-height: 55px;
}